@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Year</th>
            <th>Mileage</th>
        </tr>
        @foreach (Vehicle vehicle in ViewBag.Vehicles)
        {
            <tr>
                <td>@vehicle.Id</td>
                <td>@vehicle.Price</td>
                <td>@vehicle.Year</td>
                <td>@vehicle.Mileage</td>
            </tr>
        }
    </table>
</div>
